{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "import",
    "prettier",
    "@babel",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    }
  },
  "ignorePatterns": ["node_modules", "public/dist"],
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "no-unused-vars": "off"
  }
}